/**
 * @file
 * CSS for vidhist module.
 */

.vidhist-progress-wrapper {
  border: 1px solid #000;
  /* Accommodate for borders. */
  width: 98%;
}

.vidhist-progress {
  background: #000;
  height: 10px;
}
